header{
    
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,118,1) 72%, rgba(0,212,255,1) 100%);
    color:white;
    display: flex;
    height:150px;
    justify-content: space-evenly;
    //align-items: center;
}

h3{
    margin-left: 0px;
    text-align: center;
   margin-top:auto;
   font-size:60px;
}
img{
    scale:0.75;
    padding-right:0;
}

