.meme-container{
  display: flex;
    border: 5px solid  rgba(121,9,118,1);
    height:40vh;
    width:40vw;
    margin-left:30vw;
    justify-content: center;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background-color: rgba(105, 105, 105, 0.7);
    
}
.meme-container>img{
    border-radius: 20px;;
    
}

.text{
    position: absolute;
    background-color: rgba(121,9,118,1);
    border: 2px solid black;
    color:white;
    width:20vw;
    text-align: center;
    border-radius: 5px;
    margin: 1.5vh 20px;
}

#bottom{
    margin: 36.5vh 20px;
}

#name{
    margin: 30.5vh 20px;
}

